<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.overlay.repository.mapper.UserMapper">

	<resultMap id="baseResultMap" type="com.overlay.model.User">

		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="password" jdbcType="VARCHAR" property="password" />

		<result column="role" property="role" javaType="com.overlay.model.Role"
			typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />

		<collection property="request" ofType="com.overlay.model.Request" javaType="java.util.ArrayList">
			<id property="id" jdbcType="BIGINT" column="id" />
			<result property="subject" jdbcType="VARCHAR" column="subject" />
			<result property="description" jdbcType="VARCHAR" column="description" />
			<result property="criationDate" jdbcType="TIMESTAMP" column="criation_date" />
		</collection>

		<collection property="requestStages" ofType="com.overlay.model.RequestStages" javaType="java.util.ArrayList">
			<id property="id" jdbcType="BIGINT" column="id" />
			<result property="realizationDate" jdbcType="TIMESTAMP" column="realization_date" />
			<result property="description" jdbcType="VARCHAR" column="description" />
		</collection>

	</resultMap>


</mapper>
